/* Primary and Surface Palettes */
:root {
	--p-primary-50: #d1e6d3; /* Couleur très claire basée sur #123926 */
	--p-primary-100: #a3c3a7; /* Couleur claire */
	--p-primary-200: #75a37b; /* Couleur moyenne claire */
	--p-primary-300: #47844f; /* Couleur moyenne */
	--p-primary-400: #1a6535; /* Couleur légèrement foncée */
	--p-primary-500: #123926; /* Couleur primaire */
	--p-primary-600: #0f2f24; /* Couleur sombre */
	--p-primary-700: #0c2b20; /* Couleur encore plus sombre */
	--p-primary-800: #0a2420; /* Couleur très sombre */
	--p-primary-900: #081e1b; /* Couleur extrêmement sombre */
	--p-primary-950: #041b16; /* Couleur presque noire */
	--p-surface-0: #ffffff; /* Couleur de surface blanche */
	--p-surface-50: #fafafa; /* Couleur de surface très claire */
	--p-surface-100: #f4f4f5; /* Couleur de surface claire */
	--p-surface-200: #e4e4e7; /* Couleur de surface légèrement grise */
	--p-surface-300: #d4d4d8; /* Couleur de surface moyenne */
	--p-surface-400: #a1a1aa; /* Couleur de surface grise */
	--p-surface-500: #71717a; /* Couleur de surface foncée */
	--p-surface-600: #52525b; /* Couleur de surface très foncée */
	--p-surface-700: #3f3f46; /* Couleur de surface sombre */
	--p-surface-800: #27272a; /* Couleur de surface très sombre */
	--p-surface-900: #18181b; /* Couleur de surface presque noire */
	--p-surface-950: #09090b; /* Couleur très claire pour les éléments d'entrée */
	--p-content-border-radius: 6px; /* Rayon de bord pour le contenu */
}

/* Light */
:root {
	--p-primary-color: var(--p-primary-500);
	--p-primary-contrast-color: var(--p-surface-0);
	--p-primary-hover-color: var(--p-primary-600);
	--p-primary-active-color: var(--p-primary-700);
	--p-content-border-color: var(--p-surface-200);
	--p-content-hover-background: var(--p-surface-100);
	--p-content-hover-color: var(--p-surface-800);
	--p-highlight-background: var(--p-primary-50);
	--p-highlight-color: var(--p-primary-700);
	--p-highlight-focus-background: var(--p-primary-100);
	--p-highlight-focus-color: var(--p-primary-800);
	--p-text-color: var(--p-surface-700);
	--p-text-hover-color: var(--p-surface-800);
	--p-text-muted-color: var(--p-surface-500);
	--p-text-hover-muted-color: var(--p-surface-600);
}
